# AIS Stream
AISSTREAM_API_KEY=your_api_key_here

# Groq
GROQ_API_KEY=your_groq_api_key_here

# Energy Information Administration (EIA)
EIA_API_KEY=your_eia_api_key_here

# Federal Reserve Economic Data (FRED)
FRED_API_KEY=your_fred_api_key_here

# PostgreSQL
DATABASE_URL=postgresql://username:password@localhost:5432/energy_db

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379